@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.App {
  /* background: linear-gradient(102deg,#951318,#308fd3,#12333f,#a93802);
  background-size: 240% 240%;
  animation: gradient-animation 16s ease infinite; */
  height: 100%;
  width: 100%;
}

.zoom {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  /* width: 3.2rem;
  height: 3.2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/* .zoom:hover {
  transform: scale(1.4);
} */
.zoom svg {
  transition: transform 0.2s;
}
.zoom svg:hover {
  transform: scale(1.2);
}
.active .dot {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #2f3331;
  margin-top: 0.4rem;
  position: absolute;
  bottom: -1rem;
}
.craft {
  transition: transform 0.2s;
}
.craft:hover {
  transform: scale(0.9);
}

.Button {
  /* background-color: #DDDDDD;  */
  border-radius: 12px;
  width: 40rem;
  border: 2px solid #3f403f;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  transition-duration: 0.4s;
}

.Button:hover {
  background-color: black;
  color: white;
}
